<div>
  <h1>
    ¿Qué me parece Angular?
  </h1>
  <article>
    <app-user/>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque at asperiores facilis odit ratione dolorem nam ad, laudantium fugiat ipsa recusandae amet. Distinctio quisquam minus optio vero explicabo, id dolores!
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque at asperiores facilis odit ratione dolorem nam ad, laudantium fugiat ipsa recusandae amet. Distinctio quisquam minus optio vero explicabo, id dolores!
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque at asperiores facilis odit ratione dolorem nam ad, laudantium fugiat ipsa recusandae amet. Distinctio quisquam minus optio vero explicabo, id dolores!
    </p>
    @defer {
      <app-comments/>
    } @placeholder {
      <p>Futuros comentarios</p>
    } @loading (minimum 1s) {
      <p>Cargando comentarios...</p>
    }
  </article>
</div>
<!-- <router-outlet /> -->
